.tab-bar--private-channels {
  --padding: 0ch;
  padding-right: var(--padding);
  padding-left: calc(var(--padding) + 5px);
  padding-bottom: 1ch;

  .tab-bar__tabs {
    .tab-button {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &:last-child::before {
        content: '';
        width: 1px;
        height: 100%;
        background-color: var(--background-primary);
        position: absolute;
        left: 0;
      }
    }

    button {
      padding-inline: 0;
      position: relative;

      &[data-selected=true] {
        font-weight: bold;

        * {
          position: relative;
          margin: 0;
        }
      }

      &[data-selected=false] * {
        color: var(--text-muted);

        &:hover {
          color: var(--interactive-hover);
        }
      }
    }
  }
}