.danho-modal {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;

  * {
    box-sizing: border-box;
  }

  &__backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;

    display: grid;
    place-items: center;
  }

  &__modal-inner {
    position: relative;
    background-color: var(--primary-800);

    padding: 2em;
    min-height: 25vh;
    min-width: 18vw;
    max-height: 90vh;
    max-width: 66vw;

    z-index: 1000;
    border-radius: .75em;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
  }

  // &__title {

  // }

  &__close {
    position: absolute;
    top: 0em;
    right: -.9em;
    cursor: pointer;
    font-size: 2em;

    &:hover {
      color: var(--interactive-hover);
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 100%;
    width: 100%;
    // padding: 1em;
    overflow: hidden;
  }
}