@use '../../../../../packages/danho-lib/src/styles/utils.scss' as *;

.danho-ui-rework-fix {
  @include className('channelBottomBarArea') {
    margin-top: .5rem;
  }

  @include className('channelTextArea') {
    --custom-chat-input-margin-bottom: 24px;
  }

  [data-list-id=guildsnav] {
    @include className('icon', '*') {
      border-radius: 50% !important;
    }

    @include className('selected') {
      @include className('icon', '*') {
        border-radius: 25% !important;
        transition: border-radius 300ms;
        transition-delay: 100ms;
      }
    }
  }

  .danho-nav-group {
    display: grid;
    grid-auto-flow: column;

    &:has([class*=interactive]:hover)>* {
      margin-right: 1ch;
    }

    @include className('interactive') {
      &:hover {
        @include className('content') {
          display: block;
        }
      }

      @include className('link', 'a') {
        &:not([class*=interactive]:hover a[class*=link]) {
          padding-inline: 0;
        }
      }
    }

    @include className('avatarWithText') {
      justify-content: center;
      gap: 1ch;

      @include className('avatar') {
        margin-right: 0;
      }

      @include className('content') {
        display: none;
      }
    }
  }

  @include className('button') {
    border-radius: 3px;
  }
}

@include className('visual-refresh', 'html') {
  &:has(.danho-ui-rework-fix) {
    --custom-channel-textarea-text-area-height: 2.75rem;
    --custom-rtc-account-height: 2.5rem;

    @include className('panels', section) {
      bottom: calc(var(--space-xs) * 1.5);
    }
  }
}