.homeIcon-FuNwkv {
    color: var(--blurple);
    transition: color .1s ease-in-out;
}
.wrapper-1BJsBx:hover .homeIcon-FuNwkv, 
.wrapper-1BJsBx.selected-bZ3Lue .homeIcon-FuNwkv,
div[data-list-item-id=guildsnav___home] { 
    color: var(--interactive-active);
}
div[aria-label=Home] > .childWrapper-anI2G9 {
    background-color: inherit;
}