@forward './components/index.scss';
@forward './Form.scss';
@forward './PluginSettings.scss';

.hidden {
  opacity: 0;
  height: 0;
  width: 0;
}

*[data-error]::after {
  content: attr(data-error);
  color: var(--status-danger);
  position: absolute;
  top: -1.1em;
  z-index: 1010;
}

.button-container {
  button {
    margin-inline: .25rem;
  }

  .text-input-container input {
    padding: 7px;
  }
}

.clickable {
  cursor: pointer;
}