@use '../../../packages/danho-lib/src/styles/utils.scss' as *;

.custom-badge-container {
  @extend .badge-context-option-container !optional; // this is found in BadgeContextMenu.scss. Optional keyword to suppress sass error
  display: grid;
  grid-template-columns: 5rem 1fr;
  gap: .25em;
  padding: .5em;
  margin-top: .5em;
  border-radius: .25em;
  background-color: var(--primary-630);

  &--alternate {
    background-color: var(--primary-660);
  }

  @include className('badge', img) {
    --size: 4rem;
    width: var(--size);
    height: var(--size);
  }

  .custom-badge-info {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1ch;
    padding-left: 1em;

    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 1px;
      background-color: var(--primary-460);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
    }
  }

  .users {
    @extend %scrollbar;
    overflow: auto hidden;

    display: flex;
    gap: 1ch;
  }

  .potential-users {
    @extend %scrollbar;
    overflow: hidden auto;
    max-height: 10rem;

    display: flex;
    flex-direction: column;
    gap: 1em;

    .potential-user {
      padding: .5em;
      border-radius: .25em;
    }
  }
}

.custom-badge-list ul {
  --min: 1fr;
  gap: 0;
}

.create-new-badge-button {
  min-width: max-content;
}