@use '../../packages/danho-lib/src/styles/utils.scss' as *;

@forward '../../packages/danho-lib/src/styles/index.scss';
@forward '../../packages/danho-lib/src/styles/PluginSettings.scss';
@forward '../../packages/danho-lib/src/styles/Form.scss';

@forward '../../packages/danho-lib/src/styles/components/User.scss';
@forward '../../packages/danho-lib/src/styles/components/Calendar.scss';
@forward '../../packages/danho-lib/src/styles/components/Modal.scss';
@forward '../../packages/danho-lib/src/styles/components/SearchableList.scss';

@include className('timestamp', 'span') {
  color: var(--text-primary);
}

li.danho-birthday-calendar {
  display: flex;
  align-items: center;
  margin-left: 8px;
  border-radius: 4px;

  // >* {
  //   padding: 8px;
  // }

  // svg {
  //   margin-left: 4px;
  //   margin-right: 12px;
  // }
}

div:has(>.birthday-child-icon) {
  position: relative;
}

.birthday-child-icon {
  z-index: 1;
  position: absolute;
  top: -.3ch;
  right: -.5ch;
  font-size: 1.4ch;
}

.space {
  margin-right: .5ch;
}

.calendar-page {
  .danho-calendar {
    .danho-discord-user {
      margin-inline: 1ch;
      justify-content: center;
      
      &__avatar {
        --size: 3rem;
      }

      &__info {
        overflow: hidden;
      }
    }

    .turning-age {
      text-align: left;
    }
  }

  .modify-date-form {
    width: 100%;
    max-height: 25rem;

    .searchable-list__items {
      max-height: 18rem;
    }
  }

  .marked-user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    max-width: 40ch;
  }
}