@import './components/index.scss';
@import './Form.scss';

.hidden {
  display: none;
}

*[data-error]::after {
  content: attr(data-error);
  color: var(--status-danger);
  position: absolute;
  top: -1.1em;
  z-index: 1010;
}

.button-container {
  button {
    margin-inline: .25rem;
  }

  .text-input-container input {
    padding: 7px;
  }
}