.edit-bio-editor {
    gap: 1em;
}

.textarea-wrapper {
    display: flex;
    position: relative;

    textarea {
        background-color: var(--background-secondary);
        color: var(--text-normal);

        width: 100%;
        resize: none;
        padding: .5rem;
        min-height: 1rem;
        height: auto;
    }

    #chars-left {
        position: absolute;
        inset: auto .5em .5em auto;
    }
}

.edit-bio-section[data-render-type=pencil] {
    position: absolute;
    top: .75rem;
    right: 1em;
    cursor: pointer;
}