@import '../0DanhoLibrary/styles/utils.scss';


.edit-bio-editor {
    gap: 1em;
}

.textarea-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;

    textarea {
        box-sizing: border-box;
        background-color: var(--background-secondary);
        color: var(--text-normal);

        width: 100%;
        resize: none;
        padding: .5rem;
        min-height: 1rem;
        height: auto;
    }
    .control-panel {
        display: flex;
        justify-content: space-between;
        gap: 1em;
        margin-top: 1em;
    }

    #chars-left[data-limit-passed=true] {
        color: var(--text-danger);
    }
}

@include className("userInfoBody") {
    position: relative;
}

.edit-bio-section[data-render-type=pencil] {
    position: absolute;
    top: .75rem;
    right: 1em;
    cursor: pointer;
}

.time-inputs {
    background-color: var(--background-quinary);
    padding: 1em;
}