[data-banned-emoji=true] {
  filter: saturate(.4);
  border: 1px solid var(--button-danger-background);
}

.banned-emojis {
  margin-top: .5rem;

  &__guilds-list {
    border: 1px solid var(--background-secondary);
  }

  &__guilds-list-item__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__emojis-list {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
  }

  // .emoji-tag {}
}