.mentioned-Tre-dv {
    --background-mentioned: var(--blurple-opacity);
}
.mentioned-Tre-dv {
    --background-mentioned-hover: var(--blurple-classic-opacity);
}

.mentioned-Tre-dv::before {
    background-color: var(--blurple);
}