@use '../../packages/danho-lib/src/styles/utils.scss' as *;

@forward '../../packages/danho-lib/src/styles/index.scss';
@forward '../../packages/danho-lib/src/styles/PluginSettings.scss';
@forward '../../packages/danho-lib/src/styles/Form.scss';

@forward '../../packages/danho-lib/src/styles/components/SearchableList.scss';
@forward '../../packages/danho-lib/src/styles/components/UserListItem.scss';

.badge-context-option-container {
  display: flex;
  place-items: center;
  gap: .5ch;
}

.custom-badge-container {
  @extend .badge-context-option-container;
  display: grid;
  grid-template-columns: 5rem 1fr;
  gap: .25em;
  padding: .5em;
  margin-top: .5em;
  border-radius: .25em;
  background-color: var(--primary-630);

  &--alternate {
    background-color: var(--primary-660);
  }

  @include className('badge', img) {
    --size: 4rem;
    width: var(--size);
    height: var(--size);
  }

  .custom-badge-info {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1ch;
    padding-left: 1em;

    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 1px;
      background-color: var(--primary-460);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
    }
  }

  .users {
    @extend %scrollbar;
    overflow: auto hidden;

    display: flex;
    gap: 1ch;
  }

  .potential-users {
    @extend %scrollbar;
    overflow: hidden auto;
    max-height: 10rem;

    display: flex;
    flex-direction: column;
    gap: 1em;

    .potential-user {
      padding: .5em;
      border-radius: .25em;
    }
  }
}

.custom-badge-modify-container {
  padding: .75em 0;
  margin: 1em 0;
  border: 1px solid var(--primary-500);
  border-inline: none;

  .searchable-list__items {
    --min: 12rem;
  }

  .button-panel {
    justify-content: end;
  }
}

.danho-discord-user:has(.danho-user-badge-list) {
  .danho-discord-user__avatar {
    --size: 3rem;
  }
}

.danho-user-badge-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .25ch;

  @include className('badge', img) {
    --size: 20px;
    width: var(--size);
    height: var(--size);
  }
}

.position-input {
  display: flex;
  flex-wrap: wrap;
  gap: .5ch;
  align-items: center;
}

.custom-badge-list ul {
  --min: 1fr;
  gap: 0;
}

.create-new-badge-button {
  min-width: max-content;
}