@forward '../../packages/danho-lib/src/styles/index.scss';

.bdd-wrapper:has(#secret-channel-login) {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  position: absolute;
  inset: 0;
  background-color: var(--background-secondary);
  height: 100%;
  width: 100%;
  z-index: 10;
}

#secret-channel-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

div:has(> #secret-channel-login) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.locked-channels-settings-list {
  .guild-list-item {
    display: grid;
    grid-template-columns: 4rem 1fr;
    align-items: start;
    gap: 1ch;

    &__icon {
      --size: 4rem;
    }
    &__content-container {
      gap: 1ch;
    }
  }

  .collapsible {
    margin: 0;
  }

  .searchable-list {
    &__items {
      --min: 100%;
    }
  }

  .lock-channel-form {
    max-width: calc(100% - 2rem);
  }
}