@import './utils';

.settings-badge-list {
    counter-set: badge-counter -1;
    
    .danho-badge::after {
        counter-increment: badge-counter;
        content: counter(badge-counter) !important;

        position: relative !important;
        color: var(--text-muted, #a3a6aa) !important;
        top: .25em;
        transform: unset !important;
        font-size: initial !important;
    }
}

.add-user {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: .5rem;

    @include className(inputWrapper) {
        flex: 1;
    }
    button {
        margin-left: auto;
    }
}

section.settings {
    @include className(container, div, ">") {
        @include className(labelRow, div, "+") {
            @include className(divider) {
                display: none;
            }
        }
    }

    @include className(container) {
        margin-bottom: 0;
    }
    h5 {
        margin-bottom: 0;
    }

    @include className(sectionTitle) {
        margin-bottom: 1rem;

        h5 {
            font-size: 1.25em;
            font-weight: bolder;
        }
    }

    .add-badge {
        margin-left: 1rem;
    }
}

.user-presentation {
    display: grid;
    grid-template-areas: "avatar tag" "avatar badgeList";
    grid-template-rows: auto 3rem;
    grid-template-columns: 4em 1fr;

    .avatar {
        grid-area: avatar;
        display: grid;
        margin: unset;

        img {
            border-radius: 50%;
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .tag {
        grid-area: tag;
        display: flex;
    }

    button.delete {
        grid-area: tag;
        width: fit-content;
    }


    @include className(clickable) {
        &:not(.danho-badge.custom) {
            opacity: .45;
        }
    }
}

.settings-user {
    padding: 1em;
    border-radius: .25em;
    display: grid;
    gap: 1em;

    &:nth-child(2n) {
        --modal-background-secondary: var(--modal-footer-background);
        background-color: var(--modal-background-secondary);
    }
}