@use '../../../packages/danho-lib/src/styles/utils.scss' as *;

.danho-group-private-channel-nav-options {
  .danho-nav-group {
    display: grid;
    grid-auto-flow: column;

    &:has([class*=interactive]:hover)>* {
      margin-right: 1ch;
    }

    @include className('interactive') {
      &:hover {
        @include className('content') {
          display: block;
        }
      }

      @include className('link', 'a') {
        &:not([class*=interactive]:hover a[class*=link]) {
          padding-inline: 0;
        }
      }
    }

    @include className('avatarWithText') {
      justify-content: center;
      gap: 1ch;

      @include className('avatar') {
        margin-right: 0;
      }

      @include className('content') {
        display: none;
      }
    }
  }
}

@include className('visual-refresh', 'html') {
  &:has(.danho-group-private-channel-nav-options) {
    --custom-channel-textarea-text-area-height: 3rem;
    --custom-rtc-account-height: 3.5rem;
  }
}