.role-2TIOKu {
    background: var(--background);
    border: 1px solid;
    border-radius: 8px;
    box-shadow: 0px 1px var(--background-tertiary);
    justify-content: center;
    flex: 1 1 25%;
}
button.role-2TIOKu {
    color: var(--background-secondary);
    transition: .5s ease-in-out;
}
button.role-2TIOKu:hover {
    color: var(--background-accent);
    transition: .5s ease-in-out;
}
.addButton-1_dZYu, button.role-2TIOKu.addButton-1_dZYu {
    color: var(--interactive-muted);
    flex: 1 0 100%;
    background-color: var(--background-4);
}
.addButtonIcon-3HZ_2f:hover, button.role-2TIOKu.addButton-1_dZYu:hover {
    color: var(--interactive-normal);
}
.roleName-2ZJJYR {
    white-space: unset;
    max-width: unset;
    margin: unset;
    padding: 1px 2px;
    width: max-content;
}
.roleCircle-1EgnFN {
    display: none;
}
.roleIcon-3-WL_I.roleIcon-29epUq {
    margin-right: 2px;
}