.bannerUpsellContainer-1KrLvE {
    background-color: var(--background-quaternary) !important;
}
.tierHeaderUnlocked-3lTDnP {
    background-color: var(--background-tertiary) !important;
}
.wrapper-18yWki {
    background-color: var(--background-tertiary);
}
.tierBody-3aUxuc {
    background-color: var(--background-quaternary) !important;
}
.notEnoughMembersError-16EXyM {
    background-color: var(--background-quaternary) !important;
}