/*== Spotify ==*/ 
.headerSpotify-zpWxgT.header-2BwW8b.size16-14cGz5, /* User Popout */
.topSectionSpotify-1lI0-P, /* User Profile */
.listeningAlong-30wH70 /* Activity Panel */ {
    background-color: var(--spotify-listen-along) !important;
}

/*== Game Activity ==*/ 
.headerPlaying-j0WQBV.header-2BwW8b.size16-14cGz5, /* User Popout */
.topSectionPlaying-1J5E4n, /* User Profile */
.panel-24C3ux.activityPanel-28dQGo /* Activity Panel */ {
    background-color: var(--activity-game);
}

/*== SpotifyControls Panel*/ 
.container-6sXIoE.withTimeline-824fT_, .wrapper-24pKcD button {
    background-color: var(--spotify-controller) !important;
}

/*== Voice Chat Activity | Panel ==*/ 
.wrapper-24pKcD {
    background-color: var(--voice);
}

.activityText-yGKsKm {
    color: var(--channels-default-dark);
}