@use '../../../../../packages/danho-lib/src/styles/utils.scss' as *;

@include className('timestamp', 'span') {
  color: var(--text-primary);
}

li.danho-birthday-calendar {
  display: flex;
  align-items: center;
  margin-left: 8px;
  border-radius: 4px;

  >* {
    padding: 8px;
  }

  svg {
    margin-left: 4px;
    margin-right: 12px;
  }
}

div:has(>.birthday-child-icon) {
  position: relative;
}

.birthday-child-icon {
  z-index: 1;
  position: absolute;
  top: -.3ch;
  right: -.5ch;
  font-size: 1.4ch;
}