:root {
    --blurple-classic: #7289da;
    --blurple-classic-opacity: rgba(114, 137, 218, .1);
    --blurple: #5865f2;
    --blurple-opacity: rgba(88, 101, 242, .1);

    --botTag-background: #3b3b3b;

    --background-primary: rgb(10, 10, 10);
    --background-secondary: rgb(12, 12, 12);
    --background-secondary-alt: rgb(13, 13, 13);
    --background-tertiary: rgb(15, 15, 15);
    --background-quaternary: #181818;
    --background-quinary: #222222;
    --background-senary: #ccc;

    --background-1: var(--background-primary);
    --background-2: var(--background-secondary);
    --background-2-1: var(--background-secondary-alt);
    --background-3: var(--background-tertiary);
    --background-4: var(--background-quaternary);
    --background-5: var(--background-quinary);
    --background-6: var(--background-senary);

    --channeltextarea-background: var(--background-quaternary);
    --channels-default: rgb(197, 202, 209);
    --channels-default-dark: rgb(151, 156, 163);
    
    --background-floating: var(--background-secondary);
    --friends-content: #131111;

    --box-shadow: 0px .2vh .4vh var(--background-quaternary);
}

h1, h2, h3, h4, h5, h6 {
    text-transform: none !important;
}

.header-2RyJ0Y, 
.headerText-1HLrL7, 
.container-q97qHp, 
.botText-1fD6Qk, 
#bd-settings-sidebar {
    text-transform: none;
}

.contentContainer-14yMzC, 
.contentContainer-14yMzC .header-2mZ9Ov, 
.sidebar-dLM-kh,
.titleContainer-2CXtJo {
    background-color: var(--background-secondary-alt);
}