@import './mentioned';

code.js {
    background-color: var(--background-quaternary) !important; 
}
.autocomplete-1vrmpx {
    background-color: var(--background-quaternary) !important;
}
.categoryHeader-O1zU94 {
    background-color: var(--background-tertiary);
}